<%- unless @lat_lng %>
<script>
  getGeoLocation();
</script>
<%- end %>

<div class="jumbotron vertical-center with-zen-background">
  <div class="container center">
  <div class="greeting">
    <h1><%= @greeting %></h1>
  </div>
    <div id="weather" class="weather readable">
      <script>
        var weatherDiv = document.getElementById('weather');
        function success(){
          weatherDiv.innerHTML = "<h1>" + "<%= @temp_f %>" + "</h1>" + "<%= @weather %>" + " in " + "<%= @location %>" + " on " + "<%= @local_time %>";
        };
        
        function error(){
          weatherDiv.innerHTML = "<p>Please allow location services to receive weather/time data.</p>";
        };
 
        navigator.geolocation.getCurrentPosition(success, error);
      </script>
    </div>
    <div class="flex-video">
      <iframe src='<%= @url_array[Random.new_seed % @url_array.length][:url] %>' frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="container readable">
      <p class="quote padded-top"><%= @quotes_array[@quotes_array_index][:quote] %></p>
      <p class="quote padded-bottom">~<%= @quotes_array[@quotes_array_index][:artist] %></p>
    </div>
  </div>
</div>

