<%= debug @lat_lng %>
<pre>
  <%= @temp_f   %>
  <%= @location %>
  <%= @local_time %>
  <%= @weather %>
</pre>

<div class="jumbotron vertical-center with-zen-background">
  <div class="container center">
    <div class="flex-video">
      <iframe src='<%= @url_array[Random.new_seed % @url_array.length][:url] %>' frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="container readable">
      <p class="quote padded-top"><%= @quotes_array[@quotes_array_index][:quote] %></p>
      <p class="quote padded-bottom">~<%= @quotes_array[@quotes_array_index][:artist] %></p>
    </div>
  </div>
</div>

<%- unless @lat_lng %>
<script>
  getGeoLocation();
</script>
<%- end %>
